

h1{
    display:flex;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.buttonSelection{
    width: 100px;
    display: flex;
    flex-direction: column;
}